.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {	
	margin: 30px auto 50px;
	padding: 0 68px;
}
.carousel .item {
    text-align: center;
	overflow: hidden;
    height: 160px;
}
.carousel .carousel-control {
	width: 68px;
	background: none;
}
.carousel .carousel-control i {
    font-size: 28px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
    left: 0;
    right: 0;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}